$icon-font-path: '../fonts/';

@import "core/variables";

// Custom Bootstrap
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/bootstrap";


// Custom Helpers
@import "helpers/mixins";
@import "helpers/utils";


// Core
@import "core/fonts";
@import "core/typo";
@import "core/forms";

// bower:scss
// endbower

// Custom Vendors Modulos
@import "vendors/bootstrap/table";
@import "vendors/bootstrap/modal";

// Custom Modulos
@import "modules/footer";

// Pages
.svg-icon svg{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  &:hover {
    fill: red;
  }
}
