//
// Global variables
// --------------------------------------------------

$prefix: 'demo';
// .#{$prefix}-m   = module
// .#{$prefix}-h  = helper
// .#{$prefix}-mix = mixin
// .#{$prefix}-is  = state
// .#{$prefix}-f   = function



