<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hangar - Digital Expertise</title>
    <meta name="description" content="description">
    <meta name="keywords" content="jgatjens, webapp, templates, es6">
    <meta name="author" content="Hangar">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link rel="icon" type="image/vnd.microsoft.icon" href="img/favicon.ico" />

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

     <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <h1>'Allo, 'Allo!</h1>
      <p>You now have</p>
      <ul>
        <li>HTML5 homepage</li>
        <li>Sass</li>
        <li>Handlebars</li>
        <li>Bootstrap</li>
        <li>Modernizr</li>
        <li>ES6</li>
        <li>Custome css structure</li>
      </ul>
    </div>

    </div><!-- /.container -->

    {{> scripts }}

  </body>
</html>
