<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Name</title>
    <meta name="description" content="description">
    <meta name="keywords" content="jgatjens, webapp, templates, es6">
    <meta name="author" content="project name">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link rel="icon" type="image/vnd.microsoft.icon" href="img/favicon.ico" />

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div style="height: 0; width: 0; position: absolute; top: 0; visibility: hidden;">
    <!-- inject:svg -->
    <svg xmlns="http://www.w3.org/2000/svg"><symbol id="social_fb" viewBox="0 0 40 40"><path d="M37.792 0H2.208C.988 0 0 .988 0 2.207v35.585C0 39.012.988 40 2.208 40h19.158V24.51h-5.213v-6.037h5.213V14.02c0-5.166 3.155-7.98 7.764-7.98 2.208 0 4.105.166 4.658.24v5.398h-3.196c-2.507 0-2.992 1.192-2.992 2.94v3.854h5.978L32.8 24.51h-5.2V40h10.194C39.01 40 40 39.01 40 37.792V2.207C40 .987 39.01 0 37.792 0z"/></symbol><symbol id="social_google" viewBox="0 0 40 40"><path d="M19.667 14.2c0-2.587-1.507-6.606-4.41-6.606-.914 0-1.893.466-2.454 1.185-.596.754-.77 1.72-.77 2.656 0 2.404 1.366 6.388 4.38 6.388.874 0 1.817-.428 2.38-1.003.804-.828.874-1.974.874-2.62zm-1.892 9.44c-.28-.036-.454-.036-.804-.036-.314 0-2.206.07-3.676.576-.77.285-3.01 1.147-3.01 3.696 0 2.55 2.415 4.383 6.162 4.383 3.363 0 5.15-1.657 5.15-3.88-.002-1.835-1.158-2.8-3.82-4.74zM38.752 0H1.248C.558 0 0 .572 0 1.276v37.446C0 39.43.56 40 1.248 40H38.75c.69 0 1.25-.57 1.25-1.277V1.277C40 .572 39.44 0 38.752 0zM14.728 33.764c-5.08 0-7.528-2.476-7.528-5.134 0-1.29.63-3.12 2.696-4.378 2.17-1.364 5.114-1.543 6.69-1.654-.492-.646-1.05-1.328-1.05-2.44 0-.61.174-.968.347-1.4-.386.038-.77.073-1.12.073-3.71 0-5.813-2.837-5.813-5.637 0-1.65.734-3.48 2.24-4.81 1.998-1.687 4.726-2.145 6.62-2.145h6.9l-2.278 1.464h-2.17c.805.68 2.484 2.117 2.484 4.847 0 2.653-1.47 3.913-2.94 5.097-.455.466-.98.97-.98 1.76 0 .788.525 1.218.91 1.544l1.26 1.003c1.542 1.328 2.943 2.55 2.942 5.03 0 3.372-3.187 6.78-9.21 6.78zm18.635-14.202h-3.52v3.61h-1.734v-3.61h-3.504V17.77h3.503v-3.59h1.732v3.59h3.52v1.792z"/></symbol><symbol id="social_in" viewBox="0 0 40 40"><path d="M36.918 0H2.94C1.314 0 0 .807 0 2.396v34.21C0 38.2 1.314 40 2.94 40h33.98c1.624 0 3.08-1.8 3.08-3.393V2.397C40 .806 38.544 0 36.918 0zM11.742 33.846H5.548V14.36h6.194v19.486zm-3.238-21.95c-1.957 0-3.538-1.54-3.538-3.44 0-1.896 1.582-3.436 3.538-3.436 1.953 0 3.538 1.54 3.538 3.436 0 1.9-1.585 3.44-3.538 3.44zm25.948 21.95h-6.194v-9.542c0-2.214-.24-5.06-3.37-5.06-3.176 0-3.856 2.41-3.856 4.9v9.702h-6.194V14.36h6.194v3.076h.295c.816-2.05 2.82-3.244 5.79-3.244 6.178 0 7.334 3.787 7.334 8.925v10.73z"/></symbol><symbol id="social_tw" viewBox="0 0 40 31.432"><path d="M40 3.72c-1.472.63-3.054 1.06-4.714 1.252C36.98 3.99 38.28 2.434 38.894.58c-1.586.91-3.342 1.57-5.21 1.927C32.186.963 30.053 0 27.693 0c-4.533 0-8.208 3.552-8.208 7.935 0 .622.073 1.228.213 1.81C12.88 9.41 6.83 6.254 2.783 1.45c-.707 1.174-1.11 2.536-1.11 3.99 0 2.753 1.448 5.182 3.65 6.604-1.345-.04-2.61-.397-3.717-.992v.1c0 3.844 2.828 7.052 6.582 7.78-.69.18-1.415.28-2.163.28-.53 0-1.043-.05-1.544-.143 1.044 3.154 4.075 5.447 7.666 5.51C9.34 26.71 5.8 27.98 1.956 27.98c-.662 0-1.316-.037-1.958-.11 3.63 2.25 7.944 3.565 12.578 3.565 15.095 0 23.35-12.092 23.35-22.577 0-.343-.01-.686-.025-1.027C37.508 6.71 38.9 5.31 40 3.72z"/></symbol></svg>
    <!-- endinject -->
    </div>

    <div class="container">
      <h1>'Allo, 'Allo!</h1>
      <p>You now have</p>
      <ul>
        <li>HTML5 Boilerplate</li>
        <li>Sass</li>
        <li>Handlebars</li>
        <li>Bootstrap</li>
        <li>Modernizr</li>
        <li>ES6</li>
        <li>Inject SVG sprites</li>
        <li>Custome css structure</li>
      </ul>

      <div class="col-md-12 text-left">
        <p>Share</p>
        <a id="js-social-fb" class="svg-icon" href="#"><svg id="fb-svg"><use xlink:href="#social_fb"></use></svg></a>
        <a id="js-social-tw" class="svg-icon" href="#"><svg id="tw-svg"><use xlink:href="#social_tw"></use></svg></a>
        <a id="js-social-go" class="svg-icon" href="#"><svg id="google-svg"><use xlink:href="#social_google"></use></svg></a>
      </div>

    </div>

    {{> scripts }}

  </body>
</html>
